<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="testGcache" class="redis.GcacheClient" destroy-method="close">
        <!-- zookeeperAddress -->
        <!--UAT环境-->
        <!--<constructor-arg value="10.112.179.149:2181,10.112.179.150:2181,10.112.179.151:2181" />-->
        <!--Sit环境-->
        <constructor-arg value="10.112.179.146:2181,10.112.179.147:2181,10.112.179.148:2181" />
        <!-- businessName -->
        <constructor-arg value="UNIT_TEST_REDIS6.0_SIT" />
        <!--<constructor-arg value="REDIS6.0_TEST_SIT" />-->
        <!--<constructor-arg value="REDIS5.0_TEST_SIT" />-->
    </bean>
</beans>